<div class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 quote">
          
          <h1><i class="fa-solid fa-quote-left" style="color: #000205;"></i>Money Does Grow On Trees
            <i class="fa-solid fa-quote-right" style="color: #000205;"></i>
          </h1>
        </div>
        <div class="col-md-6 login  ">
          <h3>Login</h3>
          <input #acno type="text" placeholder="User ID" id="us" name="ui">
          <input #psw type="password" placeholder="Password" id="ps" name="pw">
          <button (click)="login()" type="button" id="btn">Log In</button>
          <p class="clear">Need an Account? <a href="signup">Sign Up</a></p>
        </div>
        
      </div>
      <div class="disc">
        <p><span>Disclaimer:</span> <br>
          Our bank does not ask for the details of your account/ PIN/ password. Therefore any one pretending to be asking
          you for information from the bank/ technical team may be fraudulent entities, so please beware. You should know
          how to operate net transaction and if you are not familiar you may refrain from doing so. You may seek banks
          guidance in this regard. Bank is not responsible for online transactions going wrong
  
          We shall also not be responsible for wrong transactions and wanton disclosure of details by you. Viewing option
          and transaction option on the net are different.You may exercise your option diligently</p>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.postimg.cc/k5KZXhP6/jonas-leupe-w-K-elt11p-F0-unsplash.jpg" class="d-block w-100"
              alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>ENHANCE BANKING <br> WITH YOUR <br> MOBILE PHONE</h1>
              <p>Join our instant mobile application</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://i.postimg.cc/yNqCvKYb/wpsso-main-what-makes-a-wallet.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>MAKE YOUR <br>WALLET MORE <br> EFFICIENT</h1>
              <p>Join our Instant Wallet Plan</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://i.postimg.cc/76YZ0YFX/mobile-banking.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="text-dark fw-bold">MAKE YOUR <br> WAY TO <br> MOBILE BANKING</h1>
              <p class="text-dark">Join our mobile app</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev nxt" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next nxt" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>