<div class="container">
    <div class="row">
        <div class="col-md-6 signup mb-2">
            <h3>SignUp</h3>
            <form [formGroup]="signupForm">
                <input id="ac" formControlName="accno" name="acno" type="text" placeholder="Account Number">
                <p class="text-danger" *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched">Accept Only Numbers</p>
                <input id="un" formControlName="uname" name="uname" type="text" placeholder="User ID">
                <p class="text-danger" *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">Please include Characters Only</p>
                <input id="ps" formControlName="psw" name="psw" type="text" placeholder="Password">
                <p class="text-danger" *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">Please include characters and Numbers Only</p>
                <input id="cp" formControlName="cpsw" name="cpsw" type="text" placeholder="Confirm Password">
                <p class="text-danger" ngIf="pswCheck">Password Doesnt Match</p>
                <button (click)="signup()" type="submit">SignUp</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1>Welcome to Instant Money Bank</h1>
            <div class="ad">
                <h1><i class="fa-solid fa-quote-left" style="color: #000205;"></i>We think you are <br> going to like it
                    here<i class="fa-solid fa-quote-right" style="color: #000205;"></i></h1>
            </div>
        </div>
    </div>
</div>